@import 'reset';
@import "~bootstrap/scss/bootstrap";
@import "colors";

nav{
    &.navbar{
        &.bg-light{
            background-color: $green !important;
            position: fixed;
            width: 100%;
            top: 0px;
            z-index: 2;
            .navbar-brand{
                a{
                    color: $white;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.layout{
    position: relative;
    .sidebar-nav{
        position: fixed;
        width: 200px;
        border-right: 1px solid $grey;
        height: 100vh;
        background-color: $lightgrey;
        z-index: 1;
        top: 0px;
        padding-top: 59px;
        ul{
            &.navigation_list{
                margin-bottom: 0px;
                height: 100%;
                position: relative;
                li{
                    list-style: none;
                    a{
                        display: block;
                        padding: 15px 10px 15px 20px;
                        color: $black;
                        &.active{
                            background-color: rgba(62, 162, 62, 0.4);
                            color: #ffffff;
                        }
                        &:hover{
                            text-decoration: none;
                            background-color: $grey;
                        }
                        span{
                            margin-left: 20px;
                        }
                    }
                    &:last-child{
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .content{
        background-color: $white;
        margin-left: 200px;
        padding-top: 70px;
        padding-bottom: 70px;
        .profile-page{
            &-user-detail{
                table{
                    tr{
                        td{
                            &:nth-child(1){
                                width: 15%;
                            }
                            button{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .login-page{
            &-box{
                width: 40%;
                margin: 30px auto;
                padding: 30px;
                border: 1px solid $grey;
                border-radius: 4px;
                .if-login{
                    font-size: 12px;
                }
                button{
                    &.button-submit{
                        width: 100%;
                    }
                }
            }
        }
        .signup-page{
            &-user-img{
                img{
                    margin-bottom: 20px;
                }
                button{
                    width: 100%;
                }
            }
            &-user-detail{
                button{
                    &.button-submit{
                        width: 20%;
                    }
                }
            }
        }
        .home-page{
            &-banner{
                display: block;
                height: 150px;
                background-image: url('../img/banner2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 20px;
            }
            &-poli-listing{
                margin: 20px 0px;
                .poli-listing-box{
                    border: 1px solid $grey;
                    border-radius: 4px;
                    padding: 4px;
                    position: relative;
                    margin-bottom: 20px;
                    &:hover{
                        border-color: $green;
                    }
                    .banner-poli{
                        background-image: url('../img/dental.jpg');
                        background-size: cover;
                        height: 250px;
                        background-repeat: no-repeat;
                        &.obgyn{
                            background-image: url('../img/obgyn.jpg');
                        }
                        &.internist{
                            background-image: url('../img/internist.jpg');
                        }
                    }
                    h4{
                        margin-bottom: 0px;
                        position: absolute;
                        bottom: 19px;
                        width: 90%;
                        background: rgba(255,255,255,0.6);
                        padding: 6px;
                        font-size: 19px;
                        color: #056705;
                        left: 5%;
                    }
                }
            }
            &-doctor-schedule{
                border-top: 1px solid #dadada;
                padding-top: 30px;
                p{
                    margin-top: 20px;
                }
                .table-responsive{
                    thead{
                        tr{
                            th{
                                vertical-align: middle;
                                border-right: 1px solid #dee2e6;
                                border-left: 1px solid #dee2e6;
                                color: $black;
                                background-color: #eaf9ea;
                                text-align: center;
                            }
                            &:first-child{
                                th{
                                    &:first-child{
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                vertical-align: middle;
                                font-size: 14px;
                                text-align: center;
                                border-right: 1px solid #dee2e6;
                                border-left: 1px solid #dee2e6;
                                a{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    color: $green;
                                    img{
                                        &.doctor-profile{
                                            width: 68px;
                                            margin-right: 10px;
                                        }
                                    }
                                    p{
                                        margin-bottom: 0px;
                                        margin-top: 0px;
                                        font-size: 16px;
                                        text-align: left;
                                    }
                                }
                            }
                            &:last-child{
                                td{
                                    border-bottom: 1px solid #dee2e6;
                                }
                            }
                        }
                    }
                }
            }
        }
        .doctor-detail-page{
            h3{
                font-size: 24px;
                margin-bottom: 20px;
                color: $black;
            }
            &-detail{
                table{
                    tr{
                        td{
                            &.star-rate{
                                color: #f9be19;
                            }
                        }
                    }
                }
            }
            .doctor-poling{
                border-top: 1px solid $grey;
                padding-top: 20px;
                margin-top: 30px;
                &-table{
                    display: flex;
                    flex-direction: row;
                    span{
                        &:first-child{
                            width: 30%;
                        }
                        &:nth-child(2){
                            width: 2%;
                        }
                    }
                }
                button{
                    margin-top: 20px;
                    width: 20%;
                }
            }
        }
        .statistic-page{
            h3{
                margin-bottom: 30px;
            }
        }
    }
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fbfbfb;
    padding: 10px 10px 10px 230px;
    border-top: 1px solid #dadada;;
    p{
        margin-bottom: 0px;
        color: $black;
        font-size: 12px;
    }
}